/* show # on hover */
.prose {
  & h1,
  & h2,
  & h3,
  & h4 {
    &:hover {
      & a::before {
        @apply opacity-100;
      }
    }

    & a {
      &::before {
        content: "#";
        margin-left: -1em;
        padding-right: 1em;

        @apply text-ui-primary absolute opacity-0 float-left;
      }
    }
  }
}
