@tailwind base;
@tailwind components;

:root {
  /* 3 Typography colors: base/low/high contrast */
  --color-typo-low: theme("colors.oc-gray.7");
  --color-typo-base: theme("colors.oc-gray.8");
  --color-typo-high: theme("colors.oc-gray.9");
  --color-ui-background: theme("colors.oc-gray.0");
  --color-ui-sidebar: theme("colors.oc-gray.4");
  --color-ui-border: theme("colors.oc-gray.3");
  --color-ui-primary: theme("colors.brand");
}

.dark-mode {
  --color-typo-low: theme("colors.oc-gray.6");
  --color-typo-base: theme("colors.oc-gray.5");
  --color-typo-high: theme("colors.oc-gray.4");
  --color-ui-background: theme("colors.oc-gray.9");
  --color-ui-sidebar: theme("colors.oc-gray.8");
  --color-ui-border: theme("colors.oc-gray.7");
}

* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.prose {
  & h1,
  & h2,
  & h3,
  & h4 {
    &:hover {
      & a::before {
        @apply opacity-100;
      }
    }

    & a {
      &::before {
        content: "#";
        margin-left: -1em;
        padding-right: 1em;

        @apply text-ui-primary absolute opacity-0 float-left;
      }
    }
  }
}

@tailwind utilities;
